# --- Global ---
.DS_Store
.vscode/
.idea/
**/node_modules/
dist/
build/

# --- Backend (Python) ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.log

# --- Frontend (Flutter) ---
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.build/
.buildlog/
.history
.svn/
.swiftpm/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/lighthouse_master/build/
/lighthouse_master/coverage/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio
/lighthouse_master/android/app/debug
/lighthouse_master/android/app/profile
/lighthouse_master/android/app/release

# Linux
linux/flutter/ephemeral
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/ephemeral

# macOS
macos/Flutter/ephemeral
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
windows/flutter/ephemeral
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/ephemeral_cpp_client_wrapper
